<a href="/robots">My Robot Buddy</a>

<h3><a href="/robots/<%= @robot.id %>"><%= @robot.name %></a></h3>
<img src="https://robohash.org/<%= @robot.name %>.png">
<p><%= @robot.city %></p>

<p><%= @robot.state %></p>

<p><%= @robot.department %></p>
